﻿<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/Content/content/favicon.png">

    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/css/typicons.css">
    <link rel="stylesheet" href="/Content/css/flexslider.css">
    <link rel="stylesheet" href="/Content/css/jquery.selectBoxIt.css">
    <link rel="stylesheet" href="/Content/css/jquery.fancybox.css">
    <link rel="stylesheet" href="/Content/css/main.css">
    <script src="/Content/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
    <header class="navbar navbar-default hidden-menu hidden-menu-up">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-sm-3">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="menu-title">Menu</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="social-icons nav navbar-nav">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" id="navbarDrop2" class="dropdown-toggle" data-toggle="dropdown">Anasayfa</a>
                               
                            </li>
                            
                            <li><a href="about-us.html">Hakkımda</a></li>
                            <li class="dropdown">
                                <a href="elements.html" id="navbarDrop4" class="dropdown-toggle" data-toggle="dropdown">Kayıt</a>
                               
                            </li>                            
                            
                            <li><a href="contact.html">İletisim</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <header class="main-header hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo">
                        <figure>
                            <a href="index.html"><img src="/Content/content/logo.png" alt="Logo" /></a>
                        </figure>
                    </div>
                </div>
                <div class="col-sm-8 text-right">
                    <div class="search-wrap active">
                        <div class="search-input">
                            <form action="#">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="s" placeholder="Ne aramak İstiyorsunuz ?">
                                    <span class="input-group-addon"><button type="submit"><i class="fa fa-search"></i></button></span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <a href="#" class="menu-button">Menu <i class="fa fa-bars"></i></a>
                </div>
            </div>
        </div>
    </header>
    <header class="mobile-logo visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="logo">
                        <figure>
                            <a href="index.html"><img src="/Content/content/logo.png" alt="Logo" /></a>
                        </figure>
                    </div>
                    <div class="mobile-search">
                        <form action="#">
                            <div class="input-group">
                                <input type="text" class="form-control" name="s" placeholder="Search something interesting">
                                <span class="input-group-addon"><button type="submit"><i class="fa fa-search"></i></button></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderSection("Title",false)
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="posts">
                        @RenderBody()
                    </div>
                </div>
                <aside class="col-sm-4">
                    <div class="widgets">
                        @RenderSection("RightTop",false)
                        <div class="widget categories">
                            <h5>Kategoriler</h5>
                            <ul>
                                <li><a href="#">Yazılım</a></li>
                                <li><a href="#">Teknoloji</a></li>
                                <li><a href="#">Donanım </a></li>
                                <li><a href="#">Microsoft</a></li>
                                <li><a href="#">Mobil</a></li>
                                
                            </ul>
                        </div>
                        <div class="widget posts">
                            <h5>Makalelerim</h5>
                            <div class="widget-tabs">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#popular" data-toggle="tab">Popüler</a></li>
                                    <li><span>/</span></li>
                                    <li><a href="#fresh" data-toggle="tab">Yeni</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="popular">
                                        <ul>
                                            <li>
                                                <figure>
                                                    <a href="#">
                                                        <img src="/Content/content/widget-post01.jpg" alt="" />
                                                    </a>
                                                </figure>
                                                <div class="text">
                                                    <a href="#">Mvc ile site tasarımı.</a>
                                                    <a href="#" class="category">{ Yazılım }</a>
                                                </div>
                                            </li>
                                            <li>
                                                <figure>
                                                    <a href="#">
                                                        <img src="/Content/content/widget-post02.jpg" alt="" />
                                                    </a>
                                                </figure>
                                                <div class="text">
                                                    <a href="#">Microsoft Visual Studio 2015 sp1 sürümü yayınlandı.</a>
                                                    <a href="#" class="category">{ Microsoft }</a>
                                                </div>
                                            </li>
                                            <li>
                                                <figure>
                                                    <a href="#">
                                                        <img src="/Content/content/widget-post03.jpg" alt="" />
                                                    </a>
                                                </figure>
                                                <div class="text">
                                                    <a href="#">Raspery pi 3 çıktı</a>
                                                    <a href="#" class="category">{ Donanım}</a>
                                                </div>
                                            </li>
                                           
                                            <li>
                                                <figure>
                                                    <a href="#">
                                                        <img src="/Content/content/widget-post05.jpg" alt="" />
                                                    </a>
                                                </figure>
                                                <div class="text">
                                                    <a href="#">Mobil uygulamada son durum</a>
                                                    <a href="#" class="category">{ Mobil }</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="fresh">
                                        <ul>
                                            <li>
                                                <figure>
                                                    <a href="#">
                                                        <img src="/Content/content/widget-post03.jpg" alt="" />
                                                    </a>
                                                </figure>
                                                <div class="text">
                                                    <a href="#">Chocolate bar jelly-o sesame snaps oat cake.</a>
                                                    <a href="#" class="category">{ Illustration }</a>
                                                </div>
                                            </li>
                                            <li>
                                                <figure>
                                                    <a href="#">
                                                        <img src="/Content/content/widget-post05.jpg" alt="" />
                                                    </a>
                                                </figure>
                                                <div class="text">
                                                    <a href="#">Cupcake ipsum dolor sit amet croissant I love.</a>
                                                    <a href="#" class="category">{ Typography }</a>
                                                </div>
                                            </li>
                                            <li>
                                                <figure>
                                                    <a href="#">
                                                        <img src="/Content/content/widget-post01.jpg" alt="" />
                                                    </a>
                                                </figure>
                                                <div class="text">
                                                    <a href="#">Dragee jelly beans drag underwear</a>
                                                    <a href="#" class="category">{ Branding }</a>
                                                </div>
                                            </li>
                                            <li>
                                                <figure>
                                                    <a href="#">
                                                        <img src="/Content/content/widget-post04.jpg" alt="" />
                                                    </a>
                                                </figure>
                                                <div class="text">
                                                    <a href="#">Apple pie bear claw marzipan donut.</a>
                                                    <a href="#" class="category">{ Icons }</a>
                                                </div>
                                            </li>
                                            <li>
                                                <figure>
                                                    <a href="#">
                                                        <img src="/Content/content/widget-post02.jpg" alt="" />
                                                    </a>
                                                </figure>
                                                <div class="text">
                                                    <a href="#">Liquorice muffin I love carrot cake apple pie.</a>
                                                    <a href="#" class="category">{ Mobile Applications }</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget blog-tags">
                            <h5>Etiketler</h5>
                            <ul>
                                <li><a href="#" class="btn btn-default">Yazılım</a></li>
                                <li><a href="#" class="btn btn-default">Mobil</a></li>
                                <li><a href="#" class="btn btn-default">Dünya</a></li>
                                <li><a href="#" class="btn btn-default">Hello World</a></li>
                                <li><a href="#" class="btn btn-default">Makale</a></li>
                      
                                <li><a href="#" class="btn btn-default">photoshop</a></li>
                              
                                <li><a href="#" class="btn btn-default">web</a></li>
                                <li><a href="#" class="btn btn-default">illustration</a></li>
                                <li><a href="#" class="btn btn-default">design</a></li>
                            </ul>
                        </div>
                        @RenderSection("RigtBottom",false)                        
                        
                        
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <footer class="main-footer">
        <div class="footer-newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 left">
                        <h2>Bana  <strong>Yazabilirsiniz</strong></h2>
                        
                    </div>
                    <div class="col-sm-4 right">
                        <form action="#">
                            <div class="input-group">
                                <input type="email" class="form-control" name="newsletter-email" placeholder="Your Email:">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-check"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-social">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="footer-widget">
                            <a href="#" class="footer-logo"><img src="/Content/content/logo.png" alt="Logo" /></a>
                            <div class="copyright">© 2014 yourcompanyname <br /> Developed by <a title="WordPress Themes" href="http://teothemes.com/">TeoThemes</a></div>
                            <div class="motto">The only Theme that you will need!</div>
                            <address>
                                PO Box 21177 <br />
                                Little Lonsdale St, Melbourne <br />
                                Victoria 8011 Australia
                            </address>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-widget">
                            <h2>Popüler Makaleler</h2>
                            <ul class="popular-post">
                                <li>
                                    <figure>
                                        <a href="blog-single.html">
                                            <img src="/Content/content/footer-post01.jpg" alt="" />
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <a href="blog-single.html">Mvc sitesi tasarımı</a>
                                    </div>
                                </li>
                                <li>
                                    <figure>
                                        <a href="blog-single.html">
                                            <img src="/Content/content/footer-post02.jpg" alt="" />
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <a href="blog-single.html">Windows Phones</a>
                                    </div>
                                </li>
                                <li>
                                    <figure>
                                        <a href="blog-single.html">
                                            <img src="/Content/content/footer-post03.jpg" alt="" />
                                        </a>
                                    </figure>
                                    <div class="text">
                                        <a href="blog-single.html">Ardunio ile robot yapımı</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-widget">
                            <h2>Twitter Feed</h2>
                            <div class="twitter-feed">
                                <figure>
                                    <a href="#">
                                        <img src="/Content/content/twitter-logo.jpg" alt="" />
                                    </a>
                                </figure>
                                <div class="text">
                                    <a href="#">Envato</a>
                                    <span class="date">10 hours agao</span>
                                </div>
                                <div class="content">Thanks so much for all the love for our site : <a href="#">envato.com</a>.  We have such an amazing community!</div>
                                <a href="#" class="btn btn-info btn-sm pull-left">Follow us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer-widget">
                            <h2>Hakkımda</h2>
                            <div class="text-widget">
                                <p>Sakarya Üniversitesi Bilgisayar Mühendisliği</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="go-top">
        <i class="fa fa-angle-up"></i>
    </div>
    <script src="/Content/js/vendor/jquery-1.10.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="/Content/js/vendor/bootstrap.min.js"></script>
    <script src="/Content/js/vendor/jquery.isotope.min.js"></script>
    <script src="/Content/js/vendor/jquery.isotope.perfectmasonry.js"></script>
    <script src="/Content/js/vendor/jquery.raty.min.js"></script>
    <script src="/Content/js/vendor/jquery.flexslider.js"></script>
    <script src="/Content/js/vendor/jquery.mousewheel.js"></script>
    <script src="/Content/js/vendor/jquery.mCustomScrollbar.js"></script>
    <script src="/Content/js/vendor/jquery.hoverdir.js"></script>
    <script src="/Content/js/vendor/jquery.selectBoxIt.min.js"></script>
    <script src="/Content/js/vendor/jquery.fancybox.pack.js"></script>
    <script src="/Content/js/main.js"></script>
</body>
</html>
